<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="paramCity" [(ngModel)]="paramCity">
    </form>
</div>

<div class="container" *ngIf="weatherData">
    <div class="upper-data">
        <img src="../assets/img/day.jpg" alt="hot" *ngIf="weatherData.temp>15">
        <img src="../assets/img/night.jpg" alt="cold" *ngIf="weatherData.temp<=15">

        <div class="weather-data">
            <div class="location">{{paramCity}}</div>
            <div class="temperature">{{weatherData.temp| number: '1.0-0'}}ºC</div>
        </div>
    </div>
    <div class="lower-data">
        <div class="more-info-label">
            More Information
        </div>
        <div class="more-info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/img/low.png" alt="min">
                    <span>min</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.min_temp}} ºC
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/img/max.png" alt="max">
                    <span>max</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.max_temp}} ºC
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/img/humidity.png" alt="humidity">
                    <span>Humidity</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.humidity}} %
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/img/wind.png" alt="wind">
                    <span>wind</span>
                </div>
                <div class="info-block-value">
                    {{weatherData.wind_speed}} Km/h
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>